body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-43xl: 62px;
  --font-size-28xl-4: 47.4px;
  --font-size-11xl: 30px;
  --font-size-lg: 18px;
  --font-size-smi: 13px;
  --font-size-lg-3: 18.3px;
  --font-size-xl: 20px;
  --font-size-42xl: 61px;
  --font-size-21xl: 40px;
  --font-size-xs: 12px;
  --font-size-6xl-8: 25.8px;
  --font-size-mini: 15px;
  --font-size-base-8: 16.8px;
  --font-size-3xl-4: 22.4px;

  /* Colors */
  --color-white: #fff;
  --color-gray: #1e1e1e;
  --color-aliceblue: #ebf3f5;

  /* Border radiuses */
  --br-11xl: 30px;
  --br-18xl-3: 37.3px;
}
/* Dropdown Styles */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

